@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');


:root{
    /*CARD BACKGROUND COLOR*/
    --Blue: hsl(246, 80%, 60%);
    --light-red-y: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);

    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    /*TYPOGRAPHY*/
    --norml-font: 18px;
    --font-family: 'Rubik', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    max-width: 1440px;
    background-color: var(--very-dark-blue);
    color: var(--pale-blue);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
h1{
    color: var(--pale-blue);
    font-size: 1.5rem;
}
.container{
    width: 80%;
    background: transparent;
}
.time_card{
    width: 220px;
    height: auto;
    position: relative;
    background-color: var(--dark-blue);
    border-radius: .5rem;
    overflow: hidden;
}
.card_img{
    position: absolute;
    right: .5rem;
    top: -5px;
    z-index: 1;
}
.profile{grid-area: profile;}
.work{grid-area: work; background-color: var(--light-red-y);}
.play{grid-area: play; background-color: var(--soft-blue);}
.study{grid-area: study; background-color: var(--light-red);}
.exercise{grid-area: exercise; background-color: var(--lime-green);}
.social{grid-area: social; background-color: var(--violet);}
.selfCare{grid-area: selfCare; background-color: var(--soft-orange);}

.grid_dash{
    display: grid;
    grid-template-areas:
    'profile work play study'
    'profile exercise social selfCare ';
    gap: 2rem 1.5rem;
}
.profile{
    width: fit-content;
    height: max-content;
    background-color: var(--dark-blue);
    border-radius: .5rem;
    overflow: hidden;
}
.prof_data{
    background-color: var(--Blue);
    border-radius: 1rem;
    padding: 2rem;
}
.prof_data h1{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.prof_data img{
    width: 50%;
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
.prof_period{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 1rem;
}
.prof_period span{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    padding-left: 1rem;
}
.active{
    color: #fff;
}
.details{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    border-radius: .5rem;
    background-color: var(--dark-blue);
    transition: .5 ease-out;
}
.details:hover{
    background-color: var(--desaturated-blue);
}
.details:hover p,
.details:hover h1,
.details:hover span{
    color: #fff;
}
.ellips_icon:hover{
    fill: #fff;
}
.details .current{
    font-size: 3rem;
    font-weight: 300;
}
.details p{
    font-size: 12px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 968px) {
    .container{
        width: 95%;
    }
    .grid_dash{
        display: grid;
        grid-template-areas:
        'profile work play '
        'profile study exercise'
        'profile social selfCare';
        gap: 1.5rem;
    }
    .profile{grid-area: profile;}
    .work{background-color: var(--light-red-y);}
    .play{background-color: var(--soft-blue);}
    .study{background-color: var(--light-red);}
    .exercise{ background-color: var(--lime-green);}
    .social{background-color: var(--violet);}
    .selfCare{ background-color: var(--soft-orange);}
    .time_card{
        width: 200px;
        height: auto;
        position: relative;
        background-color: var(--dark-blue);
        border-radius: .5rem;
    }
    .details .current{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .details p{
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    .container{
        width: 90%;
        margin: 3rem 0;
    }
    .profile{
        width: 100%;
        height: max-content;
        background-color: var(--dark-blue);
        border-radius: 1rem;
        overflow: hidden;
    }
    .prof_data{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    .prof_data img{
        width: 25%;
        object-fit: cover;
        border: 1px solid var(--pale-blue);
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 2rem;
    }
    .prof_data h1{
        font-size: 1.5rem;
        font-weight: 400;
        display: block;
    }
    .prof_data br{
        display: none;
    }
    .prof_period{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
    }
    .grid_dash{
        width: 100%;
        height: 100%;
        grid-template-areas: unset;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

    }
    .time_card{
        width: 100%;
        height: 200px;
        position: relative;
        background-color: var(--dark-blue);
        border-radius: .5rem;
    }
    .profile{grid-area: profile;}
    .work{background-color: var(--light-red-y);}
    .play{background-color: var(--soft-blue);}
    .study{background-color: var(--light-red);}
    .exercise{ background-color: var(--lime-green);}
    .social{background-color: var(--violet);}
    .selfCare{ background-color: var(--soft-orange);}

}


















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }